:root {
    --side-width: 30vw;
    --side-height: 100vh;
    --side-row-gap: 4vh;

    --side-bar-item-width: 26vw;
    --side-bar-item-row-gap: 2vh;

    --mennu-item-height: 5vh;
    --menu-item-width: 22vw;

    --logo-container-height: 10vh;
    --logo-icon-height: calc((var(--logo-container-height) / 2));
    --logo-icon-width: var(--logo-icon-height);



}

* {
    margin-top: 0;
    margin-left: 0;
    border: 1px solid black;
}

.side-bar {
    height: var(--side-height);
    width: var(--side-width);

    background-color: black;

    display: inline-grid;
    align-content: start;
    
    row-gap: var(--side-row-gap);

    justify-items: center;
    justify-content: space-around;
    align-content: center;

}

.side-bar-item {
    width: var(--side-bar-item-width);
    border: 1px solid white;
    color: white;
    display: inline-grid;
    row-gap: var(--side-bar-item-row-gap);

    justify-items: left;

    padding: 3%;


}

.logo-container {
    width: var(--side-bar-item-width);
    background-color: black;
    color: white;

    display: grid;
    align-items: center;
    column-gap: 3%;








}



.logo-icon {
    height: var(--logo-icon-height);
    width: var(--logo-icon-width);
    border: 1px solid white;
}

.logo-text-container {
    display: grid;
    grid-column: 3/6;
}

.logo-text {
    margin-bottom: 0;
    align-self: center;
    font-size: 38px;

}


.menu-item {
    height: var(--mennu-item-height);
    width: var(--menu-item-width);

    display: grid;
    grid-template-columns: repeat(4,1fr);


    border: 1px solid white;
}


.icon-container{
    display: grid;
    grid-column-start: 1;
    align-content: center;
}



.text-container{
    display: grid;
    grid-column: 2/4;
    align-content: center;


}

.menu-text{
    margin-bottom: 0;

}