$logo-width: 6vw;
$side-icon-width: 2vw;
$profile-icon-width: 2vw;
$welcome-icon-width: 5vw;
$welcome-icon-height: 7vh;
$header-color: #778da9;
$side-color: #1b263b;
$main-color: #e0e1dd;
$project-color: #0d1b2a;
$alt-color: #415a77;

body {
  display: grid;
  grid-template-areas:
    "side header header header"
    "side header header header"
    "side main main main"
    "side main main main"
    "side main main main"
    "side main main main";
}

.side {
  background-color: black;
  grid-area: side;

  display: grid;
  grid-template-areas:
    "logo"
    "menu"
    "option";
  grid-template-rows: 1fr 4fr 2fr 6fr;
  row-gap: 2%;

  .logo {
    grid-area: logo;

    display: grid;
    grid-template-areas: "image text";
    align-items: center;
    justify-content: center;

    .logo-image {
      width: $logo-width;
      grid-area: image;
      align-items: center;
      justify-self: center;
    }

    .logo-title {
      color: white;
      grid-area: text;
      align-items: center;
      justify-self: center;
    }
  }

  .menu {
    grid-area: menu;
    display: grid;
    grid-template-areas: "item";
    align-items: center;

    .item-box {
      grid-column: item;
      display: grid;
      grid-template-areas: "icon text";
      grid-template-columns: 1fr 4fr;
      align-items: center;
      justify-content: center;

      .menu-icons {
        width: $side-icon-width;
        grid-column: icon;
        align-items: center;
        justify-self: center;
      }

      .menu-items {
        color: white;
        grid-column: text;
        align-items: center;
        justify-self: left;
      }
    }
  }

  .options {
    grid-area: option;
    display: grid;
    grid-template-areas: "item";
    align-items: center;

    .item-box {
      grid-column: item;
      display: grid;
      grid-template-areas: "icon text";
      grid-template-columns: 1fr 4fr;
      align-items: center;
      justify-content: center;

      .option-icons {
        width: $side-icon-width;
        grid-column: icon;

        align-items: center;
        justify-self: center;
      }

      .option-items {
        color: white;
        grid-column: text;
        align-items: center;
        justify-content: left;
      }
    }
  }
}

.header {
  grid-area: header;
  background-color: green;
  padding: 3%;

  display: grid;
  grid-template-areas:
    "search  profile"
    "welcome button";
  grid-template-columns: 6fr 1fr;

  .search {
    display: grid;
    grid-template-areas: "icon input";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;

    align-items: center;
    justify-content: center;

    .search-icon {
        width: $side-icon-width;
        align-self: center;
        justify-self: center;
    }
    .search-input {
    }
  }

  .welcome {
    grid-column: welcome;
    display: grid;
    grid-template-areas: "icon message";
    grid-template-columns: 1fr 5fr;

    align-items: center;
    justify-content: center;

    .welcome-icon-bg {
      background-color: black;
      width: $logo-width;
      height: calc($welcome-icon-height + 2vh);
      border-radius: 50%;

      display: grid;
      align-items: center;
      justify-content: center;
    }
    .welcome-icon {
      align-items: center;
      justify-content: center;
      width: $welcome-icon-width;
    }
    .welcome-message {
      display: grid;
      grid-template-areas: "message";
    }
    .message-text {
      margin: 0;
    }
    .welcome-name {
      margin: 0;
    }
  }

  .profile-controls {
    grid-area: profile;
    .notify-icon {
      width: $side-icon-width;
    }
    .profile-icon-bg {
      width: $side-icon-width;
    }
    .profile-header-icon {
    }
    .profile-bg {
    }
    .profile-name {
    }
  }

  .header-button {
    grid-area: button;
    .profile-button {
    }
  }
}

.main {
}
