$logo-width: 6vw;
$header-color: #778DA9;
$side-color: #1B263B;
$main-color: #E0E1DD;
$project-color: #0D1B2A;
$alt-color: #415A77;

body {
    display: grid; 
    background-color:   
}

.side{

}

.header{

}

.main{

}

