:root {
    --logo-width: 6vw;

}

* {
    margin: 0;
    border: 1px solid black;
}

body {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.side {
    background-color: #1B263B;
    color: white;

    grid-column: 1;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 6fr 1fr;
    grid-template-rows: 1fr repeat(6, 1fr) 1fr repeat(4, 1fr) 8fr;
    padding-top: 5%;
    column-gap: 2%;
    row-gap: 1%;
}

.menu-icons {
    width: 3vw;
    justify-self: center;
}

    .home-icon {
        grid-row: 3;
        grid-column: 2;
    }

    .profile-icon {
        grid-row: 4;
        grid-column: 2;
    }

    .messages-icon {
        grid-row: 5;
        grid-column: 2;
    }

    .history-icon {
        grid-row: 6;
        grid-column: 2;
    }

    .tasks-icon {
        grid-row: 7;
        grid-column: 2;
    }

    .communities-icon {
        grid-row: 8;
        grid-column: 2;
    }

    .settings-icon {
        grid-row: 10;
        grid-column: 2;
    }

    .support-icon {
        grid-row: 11;
        grid-column: 2;
    }

    .privacy-icon {
        grid-row: 12;
        grid-column: 2;
    }


.menu-items{
    align-self: center;

}

        .home {
            grid-row: 3;
            grid-column: 3/5;
        }

        .profile {
            grid-row: 4;
            grid-column: 3/5;
        }

        .messages {
            grid-row: 5;
            grid-column: 3/5;
        }

        .history {
            grid-row: 6;
            grid-column: 3/5;
        }

        .tasks {
            grid-row: 7;
            grid-column: 3/5;
        }

        .communities {
            grid-row: 8;
            grid-column: 3/5;
        }

        .settings {
            grid-row: 10;
            grid-column: 3/5;
        }

        .support {
            grid-row: 11;
            grid-column: 3/5;
        }

        .privacy {
            grid-row: 12;
            grid-column: 3/5;
        }

.header {
    background-color: #778DA9;
    border-bottom: 4px solid #0D1B2A;


    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr repeat(8, 3fr) 1fr 1fr;

}
    .search {

        grid-column: 3/8;
        grid-row: 2;

        display: grid;
        grid-template-columns: 1fr;
    }
    
    .search-icon{
        width: 2vw;

        grid-column: 2;
        grid-row: 2;

        align-self: center;
    }

    .search-input{
        border-radius: 20px;
    }



.main {
    background-color: #E0E1DD;

    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 7fr 7fr 6fr;
    grid-template-rows: 1fr 1fr 5fr 5fr 5fr 1fr;
}

.logo {
    height: auto;
    width: var(--logo-width);
    grid-column: 2;

}

.logo-title {
    grid-column: 3/5;
    align-self: center;
}